In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv("/content/Data_with_features.csv")

In [3]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
0,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0
1,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0
2,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0
3,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0
4,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0

In [4]:
pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

,id,innings,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,...,batting_team_West Indies,bowling_team_Australia,bowling_team_Bangladesh,bowling_team_England,bowling_team_India,bowling_team_New Zealand,bowling_team_Pakistan,bowling_team_South Africa,bowling_team_Sri Lanka,bowling_team_West Indies
0,211028,1,0.1,0,1,0,0,179,0,0,...,0,1,0,0,0,0,0,0,0,0
1,211028,1,0.2,0,2,1,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
2,211028,1,0.3,0,3,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
3,211028,1,0.4,0,4,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
4,211028,1,0.5,0,5,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119577,1237124,2,17.1,17,1,1,0,192,180,52,...,0,0,0,0,0,0,0,1,0,0
119578,1237124,2,17.2,17,2,6,0,192,186,58,...,0,0,0,0,0,0,0,1,0,0
119579,1237124,2,17.3,17,3,1,0,192,187,58,...,0,0,0,0,0,0,0,1,0,0
119580,1237124,2,17.4,17,4,4,0,192,191,61,...,0,0,0,0,0,0,0,1,0,0
119581,1237124,2,17.5,17,5,1,0,192,192,62,...,0,0,0,0,0,0,0,1,0,0

In [5]:
df=pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

In [6]:
df.columns

Index(['id', 'innings', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'batting_team_Australia',
       'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [7]:
df=df[['id','batting_team_Australia','batting_team_Bangladesh', 'batting_team_England', 'batting_team_India','batting_team_New Zealand','batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka','batting_team_West Indies','bowling_team_Australia', 'bowling_team_Bangladesh', 'bowling_team_England',
        'bowling_team_India', 'bowling_team_New Zealand', 'bowling_team_Pakistan','bowling_team_South Africa', 'bowling_team_Sri Lanka','bowling_team_West Indies',
            'overs','total_score','total_wickets','prev_30_runs','prev_30_wickets','prev_30_dot_balls','prev_30_boundaries','total']]

In [8]:
X = df.drop(labels=['total','id'], axis=1)
y = df['total'].values

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42,stratify=y)

In [10]:
X_train=X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [11]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(89686, 25) (29896, 25) (89686,) (29896,)

In [12]:
LR_model = LinearRegression()
LR_model.fit(X_train,y_train)

LinearRegression()

In [13]:
filename = 'lr-model.pkl'
pickle.dump(LR_model, open(filename, 'wb'))

In [14]:
prediction=LR_model.predict(X_test)
mean_absolute_error (y_test, prediction)

18.33336508691965

In [15]:
def score_prediction(Bat_Team,Bowl_Team,overs,total_score,total_wickets,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries):

    temp_array = list()

    if Bat_Team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_Team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_Team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_Team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_Team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_Team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_Team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_Team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_Team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    if Bowl_Team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_Team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_Team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_Team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_Team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_Team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_Team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_Team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_Team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    temp_array = temp_array + [overs,total_score,total_wickets,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries]
    data = np.array([temp_array])
    my_prediction = int(LR_model.predict(data))

    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction - 18, 'to' , my_prediction + 18)

In [21]:
Bat_Team = 'IND'

Bowl_Team = 'WI'

overs = 10.3

# current score
total_score = 67

# current wicket
total_wickets = 2

# runs in last 30 balls
prev_runs_30 = 37

# wickets in last 30 balls
prev_wickets_30 = 1

# dots in last 30 balls
prev_30_dot_balls = 8

# boundaries in last 30 balls
prev_30_boundaries = 5

score_prediction(Bat_Team,Bowl_Team,overs,total_score,total_wickets,
                         prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries)

Predicted score:  148
Predicted score range:  130 to 166